---
import HeaderLink from "./HeaderLink.astro";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <Hamburger />
  <div class="nav-links">
    <a class="home" href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
    <a href="/about/">About</a>
    <ThemeIcon />
  </div>
  <nav></nav>
</header>
<style>
  header {
    width: 75vw;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color: #f2f5c8;
  }

  .nav-links {
    display: flex;
    padding: 1em 2em;
    align-items: center;
  }

  .nav-links > a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 0 0.75em;
  }
  .nav-links > a:hover {
    cursor: pointer;
    color: #111;
  }

  .nav-links > a.home {
    flex: 1;
    font-size: 24px;
    font-weight: 600;
  }
  #skip-to-content {
    position: absolute;
    top: -100%;
    left: 4rem;
    z-index: 50;
    --tw-bg-opacity: 1;
    background-color: rgba(var(--color-accent), var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(var(--color-fill), var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  h2 {
    margin: 0.5em 0;
  }
</style>
