---
import HeaderLink from "./HeaderLink.astro";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  #skip-to-content {
    position: absolute;
    top: -100%;
    left: 4rem;
    z-index: 50;
    --tw-bg-opacity: 1;
    background-color: rgba(var(--color-accent), var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(var(--color-fill), var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  h2 {
    margin: 0.5em 0;
  }
</style>
